
<div class="header_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo_container">
                        <a [routerLink]="'/home'">
                            <div class="logo_text">Go1<span> by Michael</span></div>
                        </a>
                    </div>
                    <nav class="main_nav_contaner ml-auto">
                        <ul class="main_nav">
                            <li class="active"><a [routerLink]="'/home'">Home</a></li>
                            <li><a [routerLink]="'/home'">Setup</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>